body{
    font-family: 'Roboto', sans-serif;
}
/* ================================
            common css
=====================================*/
section{
    margin-bottom: 100px;
}
.half_width{
    width:50%;
    margin-left: 40px;
}
h1{
    font-size: 50px;
}
.link_button{
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
    font-weight:bold;
    text-decoration:none; 
    box-shadow: 0px 2px 30px 0px #FC8F4980;
    ;
}
p{
    margin-bottom: 50px;
}
/* ================================
            header css
=====================================*/
.header_area{
    display: flex;
}
.header_details{
    margin-top: 100px;
    margin-left: 100px;
}

#header_color{
    color: tomato; 
}
.header_image img{
    width: 90%;
}
/* ================================
            About css
=====================================*/
.about_area{
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: cover;
   
   
}
.about_area img{
    width:50%;
    margin-left: 100px;
}
.about_details{
    margin-top: 100px;
}
/* ================================
            Recipe css
=====================================*/
.recipe_heading{
    text-align: center;
}
.recipe_detail{
    display: flex;
}
.recipe_detail img{
    width:100%;
}
.food-recipe{
    width:40%;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    padding:20px;
    margin:40px;
    border-radius: 20px;

}
/* ================================
            Like css
=====================================*/
.like_area{
    display: flex;
    text-align: center;
    box-shadow:0px 4px 40px rgba(0, 0, 0, 0.15);
   margin-left: 20px;
   margin-right: 20px;
    border-radius: 20px;
    
}
.like{
    width:30%;
}
/* ================================
            Footer css
=====================================*/
footer{
    text-align: center;
    color:white;
    background-color: black;
    height:200px;
    padding-top: 20px;
}

